body {
	margin:0;
	background-color: yellow;
}

div {
	margin-right: 20px;
    margin-left: 20px;
}

h1 {
	color:blue;
	text-align: center;
	text-shadow: blue;
}

h2 {
	text-align: center;
	color: blue;

}